* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden; /* Evita desplazamiento global */
}

select {
    width: 100%;
    padding: 20px; /* Aumentamos el padding para que se vea más grande */
    font-size: 20px; /* Aumentado 200% (de 14px a 28px) */
    border-radius: 5px;
    border: 1px solid #ddd;
}


.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px; /* Limita el ancho máximo a 400px (típico de dispositivos móviles) */
    max-height: 90vh; /* Limita el alto máximo de la caja */
    overflow-y: auto; /* Habilita el scroll vertical si es necesario */
    box-sizing: border-box;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    font-size: 44px; /* 200% más grande que el tamaño original de 24px */
}

h2 {
    font-size: 36px; /* 200% más grande que el tamaño original de 16px */
    margin-bottom: 15px;
}

h3 {
    font-size: 32px; /* 200% más grande que el tamaño original de 16px */
    margin-bottom: 15px;
}


.formulario {
    display: flex;
    flex-direction: column;
}

.campo {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
    font-size: 22px
}

input, textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 22px;
}

input[type="date"], input[type="time"] {
    width: 100%;
    max-width: 200px;
}

textarea {
    resize: vertical;
}

button {
    padding: 12px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    width: 100%; /* Hace el botón tan ancho como el formulario */
}

button:hover {
    background-color: #45a049;
}


.seccion-visita {
    background-color: #A8DADC; /* Color azul pastel */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; /* Espacio inferior para separar las secciones */
}

.seccion-condiciones {
    background-color: #FDFD96; /* Color azul pastel */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; /* Espacio inferior para separar las secciones */
}

.seccion-diagnostico {
    background-color: #FDFD96; /* Color azul pastel */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; /* Espacio inferior para separar las secciones */
}

.seccion-fumigacion {
    background-color: #A8DADC; /* Color azul pastel */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; /* Espacio inferior para separar las secciones */
}

.seccion-fumigaciones-atras {
    background-color: #A8DADC; /* Color azul pastel */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; /* Espacio inferior para separar las secciones */
}

.seccion-monitoreo-atras {
    background-color: #FDFD96; /* Color azul pastel */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; /* Espacio inferior para separar las secciones */
}

.seccion-nutricion {
    background-color: #FDFD96; /* Color azul pastel */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; /* Espacio inferior para separar las secciones */
}

.seccion-focalizado {
    background-color: #A8DADC; /* Color azul pastel */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; /* Espacio inferior para separar las secciones */
}

.seccion-cosecha{
    background-color: #A8DADC; /* Color azul pastel */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; /* Espacio inferior para separar las secciones */
}

/* Estilo para alinear Producto y Dosis en una fila */
.campo-flex {
    display: flex;
    justify-content: space-between;  /* Espacio entre los dos elementos */
    gap: 20px;  /* Espacio entre el producto y la dosis */
}

.campo-producto,
.campo-dosis {
    flex: 1; /* Ambos campos toman un 50% del espacio disponible */
}

.campo-producto select,
.campo-dosis input {
    width: 100%;  /* Asegura que ambos campos ocupen el 100% del espacio disponible en su contenedor */
}

.campo-dosis span {
    margin-left: 10px; /* Espacio entre el input de dosis y el texto "cc/L" */
    font-size: 0.9em; /* Ajusta el tamaño del texto */
}


/* Estilos adicionales para una mejor visualización en dispositivos móviles */
@media (max-width: 480px) {
    .container {
        width: 100%; /* Hace que el formulario ocupe todo el ancho disponible en pantallas pequeñas */
        padding: 15px;
    }

    h1 {
        font-size: 20px; /* Reduce el tamaño del título en pantallas pequeñas */
    }

    .campo input, .campo textarea {
        font-size: 13px; /* Ajusta el tamaño de la fuente en campos de entrada */
    }

    button {
        font-size: 14px; /* Ajusta el tamaño del botón */
    }
}
